h1 {
  font-size: 3rem;
}

h1, h2, h3 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
}

.scrollDownIndicator {
  width: 4rem;
  stroke: white;
  position: absolute;
  bottom: 5rem;
  animation: hover 2s infinite;
}

@keyframes hover {
  0%, 100% {
    margin-bottom: 0rem;
  }
  50% {
    margin-bottom: 0.5rem;
  }
}

.redTextHint {
  color: red;
  font-size: 1.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.importantTextHint {
  color: #ffcc00;
  font-size: 1.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}