.pageContainer {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.backButton {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: rgba(128, 128, 128, 0.469);
    border-radius: 1rem;
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
    z-index: 100;
}

.backSvg {
    width: 100%;
    height: 100%;
    color: white;
    stroke: white;
}

path {
    color: white;
    stroke: white;
}